@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin cta-btn {
  border: none;
  padding: 1.125rem 1.5625rem 1rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9375rem;
}