@import './partials/variables';
@import './partials/global';
@import './partials/mixins';
@import './partials/nav';
@import './partials/hero';
@import './partials/cards';
@import './partials/us';
@import './partials/contact';
@import './partials/locations';
@import './partials/about';
@import './partials/getInTouch';
@import './partials/footer';